<%# locals: (account:, edit_type:, to_accounts:) %>

<%= form_with(url: "/accounts/#{account.id}/edit_cash", model: account, class: "contents") do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :cash %>
    <%= form.number_field :cash, step: :any, value: 0.0, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if edit_type == 'transfer' %>
    <div class="my-5">
      <%= form.label :to_account_id %>
      <%= form.select(:to_account_id, options_from_collection_for_select(to_accounts, :id, :name), {}, { :class => 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' }) %>
    </div>
  <% end %>

  <%= form.hidden_field :edit_cash_type, value: edit_type %>

  <div class="inline">
    <%= form.submit "#{edit_type.capitalize} Cash", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
