<%= form_with(model: stock, class: "contents") do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
        <% stock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :broker %>
    <%= form.select(:broker, Stock.brokers.keys, {include_blank: true}, { :class => 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' }) %>
  </div>

  <div class="my-5">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :purchase_date %>
    <%= form.date_field :purchase_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :share_price %>
    <%= form.text_field :share_price, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :quantity_purchased %>
    <%= form.number_field :quantity_purchased, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :account_id %>
    <%= form.select(:account_id, options_from_collection_for_select(@accounts, :id, :name), {}, { :class => 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' }) %>
  </div>

  <div class="my-5">
    <%= form.label :symbol_id, "Broker Symbol" %>
    <%= form.text_field :symbol_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :update_account, "Update Account" %>
    <p class="text-sm">Update the account balance and contributions</p>
    <%= form.check_box :update_account, checked: true, class: "checkbox checkbox-accent" %>
  </div>

  <div class="inline">
    <%= form.submit "Add Stock", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
