<div id="<%= dom_id stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Symbol:</strong>
    <%= stock.symbol %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= link_to stock.account.name, stock.account %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= stock.purchase_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Share price:</strong>
    <%= stock.share_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity purchased:</strong>
    <%= stock.quantity_purchased %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current Price:</strong>
    <%= stock_information(stock.symbol) %>
  </p>

</div>
