<div id="<%= dom_id api_key %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= api_key.provider %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Access token:</strong>
    <%= api_key.access_token %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Refresh token:</strong>
    <%= api_key.refresh_token %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= api_key.url %>
  </p>

</div>
