<!DOCTYPE html>
<html data-theme="emerald">
  <head>
    <title><%= content_for(:title) || "Pocket Wealth" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="flex-col">
      <%= render "layouts/header" %>
      <%= yield %>
    </main>
  </body>
</html>
