<div class="flex flex-row">
  <div>
    <%= render "layouts/sidenav" %>
  </div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Account" %>

  <div>
    <div>
      <h1 class="text-4xl font-bold ml-5">Account <%= @account.name %></h1>
    </div>
    <div class="ml-5">
      <%= render @account %>

      <%= link_to "Edit this account", edit_account_path(@account), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Back to accounts", accounts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Add Cash", account_edit_cash_path(@account, :edit_type => "add"), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Remove Cash", account_edit_cash_path(@account, :edit_type => "remove"), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Transfer Cash", account_edit_cash_path(@account, :edit_type => "transfer"), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this account", @account, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>

      <div>
        <h1>Stocks</h1>
        <%= render "stocks/stock_table", :stocks => @account.stocks %>
      </div>


      <div>
        <h1>Transactions</h1>
      </div>

      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Cash</div>
          <div class="stat-value"><%= @account.cash %></div>
        </div>
      </div>


    </div>

  </div>
</div>